---
- name: Check OS Version on All Servers
  hosts: all
  gather_facts: yes
  tasks:
    
    - name: Display OS Information for All Servers
      debug:
        msg: |
          Server: {{ inventory_hostname }}
          OS: {{ ansible_distribution }} {{ ansible_distribution_version }}
          Major Version: {{ ansible_distribution_major_version }}
          Architecture: {{ ansible_architecture }}

    - name: Create OS Summary Report
      lineinfile:
        path: /tmp/os_version_report.txt
        line: "{{ inventory_hostname }},{{ ansible_distribution }},{{ ansible_distribution_version }},{{ ansible_distribution_major_version }},{{ ansible_architecture }}"
        create: yes
      delegate_to: localhost

- name: Display Summary
  hosts: localhost
  gather_facts: no
  tasks:
    
    - name: Show report location
      debug:
        msg: "OS version report saved to /tmp/os_version_report.txt"
